* {
  box-sizing: border-box;
}

body {
  background-color: #354f52;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    color: #cad2c5;
    margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  margin-top: 10%;
  width: 100%;
  

  &__todo-input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #2f3e46;
    color: #cad2c5;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    width: 50%;
  }

  &__todo-input:focus {
    outline: 2px solid #cad2c5;
  }

  &__add-button {
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: #cad2c5;
    background-color: #52796f;
    cursor: pointer;
    margin-left: 5px;
    width: 10%;
  }

  &__add-button:hover {
    background-color: #46645c;
    outline: 2px solid #cad2c5;
  
  }
}

.form-1{

  display: flex;
  justify-content: center;

}

.task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__list-item {
    list-style: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #84a98c;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    word-break: break-all
    

  }

  &__delete-btn {
    width: 20px;
    margin: 0 0 10px 10px;
    cursor: pointer;
    filter: invert(100%) sepia(1%) saturate(3254%) hue-rotate(21deg) brightness(91%) contrast(77%);
  }

  &__delete-btn:hover {
    filter: invert(65%) sepia(12%) saturate(156%) hue-rotate(54deg) brightness(86%) contrast(87%);
  }

}

.task-list {
  width: 70%;
  color: #2f3e46;

}
